{% extends 'base.html' %}
{% block body %}

<div class="search-result-basic">
    Ask and answer
    <ul>
        {% for question in questions %}
        <li>{{question.question_id}}. gender: {{question.gender}}, age: {{question.age}}, 
            price: {{question.price}}, hobby: {{question.hobby}} </li>
            
            {% for answer in answers %}
                {% if }

            {% endfor %}
          
            <form action="/answer" method="POST">
                <label for="gift_answer">Your suggestion:</label><br>
                <input type="text" name="gift_name" id="gift_answer"></br>
        {% endfor %}
    </ul>
</div>


</div>



{% endblock %}