{% extends 'base.html' %}
{% block body %}

<div class="search-result-basic">
    Ask and answer
    <ul>
        {% for question in questions %}
        <li>{{question.question_id}}. gender: {{question.gender}}, age: {{question.age}}, 
            price: {{question.price}}, hobby: {{question.hobby}} </li>
            {% for answer in question.answers %}
            <p> {{answer.gift.gift_name}} || {{answer.likes|length}} likes
                <form action="/like/{{answer.answer_id}}" method="POST">
                    <label for="gift_like">Do you like this answer:</label>
                    <input type="radio" name="user_like" value="true" id="gift_like"> 
                    <input type="submit">
                    </form>
            </p>
            {% endfor %} 
            <form action="/answer/{{question.question_id}}" method="POST">
                <label for="gift_answer">Your suggestion:</label><br>
                <input type="text" name="gift_name" id="gift_answer"> 
                <input type="submit"></br>
            </form>
        {% endfor %}
    </ul>
</div>
<div id="questions-and-answers"></div>
{% endblock %}

{% block js %}
	<script src="/static/js/answerResult.jsx" type="text/jsx"></script>
{% endblock %}
